.speech_bubble_container {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    top: 50%;
  }
}

.speech_bubble_container.left {
  float: left;
  &::after {
    left: -24px;
    border-radius: 0 0px 10px 16px;
    box-shadow: -10px -18px 0 -8px white inset;
  }
}

.speech_bubble_container.right {
  float: right;
  &::after {
    right: -24px;
    border-radius: 0 0px 16px 10px;
    box-shadow: 10px -18px 0 -8px white inset;
  }
}

.direction_rtl {
  direction: rtl;
}

.direction_ltr {
  direction: ltr;
}

.speech_bubble {
  height: 100%;
  display: inline-block;  
  padding: var(--mantine-spacing-md);
  background: white;
  border-radius: 5px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-height: calc(100vh - var(--mantine-spacing-xl) * 6 - 48px);
  overflow-y: auto;
  overflow-x: visible;
  * {
    color: var(--mantine-color-black);
  }
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1bb4d3), to(#1bd8d3));
    background: linear-gradient(to bottom, var(--mantine-color-yellow-filled) 50%, var(--mantine-color-pink-filled));
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #dcdcdc;
  }
}
