.root {
  background-color: #11284b;
  background-size: cover;
  background-position: center;
  padding-top: var(--mantine-spacing-xl);
  height: 100vh;
  width: 100vw;
  * {
    color: var(--mantine-color-white);
  }
}

.menu {
  border: var(--mantine-color-white) 2px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-xl);
  margin-top: var(--mantine-spacing-xl);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.parent { 
  overflow-y: auto;
}

.speech_bubble {
  position: relative;
  display: inline-block;
  max-width: calc(50vw - 48px);
  margin: 0 var(--mantine-spacing-xl);
  padding: var(--mantine-spacing-md);
  background: white;
  border-radius: 19px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-height: calc(100vh - var(--mantine-spacing-xl) * 6 - 60px);
  &::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    top: 30%;
  }
}
.speech_bubble.left {
  float: left;
  &::after {
    left: -22px;    
    border-radius: 0 0px 10px 16px; 
    box-shadow: -10px -18px 0 -8px white inset;
  }
}
.speech_bubble.right {
  float: right;
  &::after {
    right: -22px;
    border-radius: 0 0px 16px 10px; 
    box-shadow: 10px -18px 0 -8px white inset;
  }
}