.root {
  background-color: #11284b;
  background-size: cover;
  background-position: center;
  padding-top: calc(var(--mantine-spacing-xl));
  height: 100vh;
  width: 100vw;
  * {
    color: var(--mantine-color-white);
  }
}

.label {
  color: var(--mantine-color-white);
}